@font-face {
  src: url("./YS_Display-Regular.ttf") format("opentype");
  font-family: "YS Display";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("./YS_Display-Medium.ttf") format("opentype");
  font-family: "YS Display";
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url("./YS_Text-Regular.ttf") format("opentype");
  font-family: "YS Text";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("./YS_Text-Medium.ttf") format("opentype");
  font-family: "YS Text";
  font-weight: 500;
  font-display: swap;
}
