/* TODO: Добавьте здесь основные цвета */

:root {
  /* Основные цвета */
  --primary-color: #9384b7;
  --primary-color-rgba: rgba(143, 129, 177, 0.2);

  /* Цвет текста */
  --primary-text-color: #0f0f0f;
  --primary-text-color-opacity-7: rgba(15, 15, 15, 0.7);
  --text-grey-color: #9c9c9c;
  --text-white-color: #fff;
  --text-light-grey-color: #3c3c3c;
  --text-button-color: var(--primary-color);

  /* Дополнительные цвета */
  --background-white-color: #fff;
  --background-white-color-opacity-7: rgba(255, 255, 255, 0.7);
  --shadow-gray-rgba: rgba(147, 132, 183, 0.3);

  --link-color: var(--primary-purple-color);
  --reverse-color: var(--background-white-color);

  --grey-search-color: #bebebe;
  --grey-light-color: #f8f8f8;
  --grey-color: #d4d4d4;

  --error-color: #d80000;
  --success-color: #03a600;

  /* Ширина контента на разных разрешениях экрана */
  --content-width-for-screen-1440: 1240px;
  --content-width-for-screen-1280: 1120px;
}
