/* TODO: Добавьте здесь основные цвета */

:root {
  /* Основные цвета */
  --disableed-color: #DDE0E4;
  --primary-white-color: #FFFFFF;
  --primary-blue-color: #5A9BFF;
  --active-blue-color: #1D6BF3;
  --additional-light-grey-color: #F9FAFB;
  --active-blue-bg-color: #F1F6FF;
  --error-color: #FF0200;

  /* Цвет текста */
  --primary-text-color: #1A1B22;
  --text-grey-color: #797981;
  --text-light-grey-color: #B5B5B7;

  /* Дополнительные цвета */
  --green-color: #87CC9E;
  --purple-color: #7F67D2;
  --orange-color: #FFCE92;
  --light-green-color: #C2E5CE;
  --light-purple-color: #CCC2ED;
  --light-orange-color: #FFE1BD;
  --rose-color: #FFDDE5;
  --yellow-color: #FFF9D3;
  --pink-color: #FFBFFD;
  --pink-color-rgba-opacity-87:rgba(255, 191, 253, 0.87);
  --brown-color: #A99175;
  --brown-color-rgba-opacity-26: rgba(169, 145, 117, 0.26);
  --light-blue-color: #ACCCFF;
}